<config>
	
    <!-- SERVICES -->
    <!-- Enable, disable, and configure services here -->
    
	<services>
		<service type="analytics" enabled="false" id="3812138217171717785" />
		<service type="canadaTracking" enabled="false" showGameTitle="Spongebob: Fiery Tracks Of Fury"/>
		<service type="nickavatar" enabled="false" url="http://54.243.42.37:8080/nick/avatar" />
		<service type="leaderboard" enabled="false" url="http://hs.nick.com/scores/" keyword="power-rangers-samurai-super-samurai" />		
	</services>
		
	<!-- LOCALIZATION -->
	      
    <localization>
    	<region>en</region>
    </localization>
    	
	<!-- PACK DEFINITIONS -->
	<!-- Define packs, flump folders, and tilesheets to be loaded later -->
	      
    <packs>
    	<!-- EX
    	<pack id="pack_folder1"/>
    	<pack id="pack_folder2">
      		<flump id="flump_folder"/>
      		<tiles id="folder/tilesheet_id"/>
  		</pack>
    	-->
    	
    	<pack id="initial_load"/>
   		<pack id="gameplay_universal">
      		<flump id="red_ranger"/>
      		<flump id="tracks"/>
   		</pack>
		
   		<!-- END OF PACKS -->
    </packs>
    
    <!-- CHUNKS -->
    <!-- Define larger bundles of chunks and packs to load -->
    
    <chunks>
    	<!-- EX
    	<chunk id="chunk">
			<chunk>load_part_1</chunk>
			<pack>load_part_2</chunk>
		</chunk>
    	-->
    
    	<chunk id="initial">
    		<pack>initial_load</pack>    		
    	</chunk>
    	
    	<chunk id="gameplay">
    		<pack>gameplay_universal</pack>
    	</chunk>

        <!-- END OF CHUNKS -->
    </chunks>
    
</config>